<form [formGroup]="profileForm">
  <div>
    <mat-form-field>
      <label>Date: </label>
      <input matInput [matDatepicker]="picker" formControlName="dateStart" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngFor="let validation of errorMessages.dob">
                <mat-error class="error-message" *ngIf="profileForm.get('dateStart').hasError(validation.type) &&
                (profileForm.get('dateStart').dirty || profileForm.get('dateStart').touched)">{{validation.message}}
                </mat-error>
              </mat-error>
    </mat-form-field>
  </div>
</form>
