<form [formGroup]="trainingAttendenceForm">
  <div>
    <h4> Trainings for {{currentMonth}}</h4>
    <div *ngFor="let day of weekDays" class="presence">
      <mat-label>{{day}}</mat-label>
      <mat-radio-group>
        <mat-radio-button value="1">yes </mat-radio-button>
        <mat-radio-button value="2">non</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-button mat-raised-button
            (click)="create()">{{'save'}}
      <!--          (click)="create()">{{data.training.id ? 'Modifier tous' : 'Créer'}}-->
    </button>
  </div>

</form>

<input type="text">
